<h1>Yep!!!</h1>

<p>
	

you need to create the available.html.erb file within the views/bubble/ directory. When the route takes you to that action, it also navigates you to that view, so if you put:

<h2>YEP!!!!</h2>

as the only line in that file, it should return that to you on the webpage.

In the future, you could use rails g scaffold bubbles and that will create a majority of the files (MVC) and routes for you.

</p>


 <h1>Test: <%= @contentinpreview.name%></h1>
 