<header>
<div class="row  hide-for-small-only"">
	
		<div class="small-12 medium-2 columns"><%= link_to 'Home', users_path %></div>

		<div class="small-12 medium-2 columns"><%= link_to 'Courses', courses_path %></div>

		<div class="small-12 medium-2 columns"><%= link_to 'Contents', contents_path %></div>

		<div class="small-12 medium-2 columns"><%= link_to 'About Us', "#" %></div>

		


</div>

</header>