  <h1>Contents</h1>

  <table  class="hover">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% course.contents.each do |content| %>
      <tr>
        <td><%= content.name %></td>
        <td><%= link_to 'Show', content %></td>

      </tr>
    <% end %>
  </tbody>
</table>